.olControlAttribution {
    /*position      : absolute;
    font-size     : 10px;
    bottom        : 0 !important;
    right         : 0 !important;
    background    : rgba(0,0,0,0.1);
    font-family   : Arial;
    padding       : 2px 4px;
    border-radius : 5px 0 0 0;
    
    On cache le copyright by openstreetmap...*/    
    visibility: hidden;
}

.ui-footer {
	margin: 0;
	padding: 10px 0px 10px 0px;
}

html {
 	height: 100%;
 	background-color: black;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;	
}
.ui-content {
 	padding: 0;
}
.ui-footer {
 	text-align: center;
}

#mappage {
	 	width: 100%;
	 	height: 100%;
	}
 
#map {
 	width: 100%;
 	height: 100%;
 	background-color: black;
}

#startGame {
	float: left;
	align: center;
	text-align: center;
}

.pacmanClose, .pacmanOpen {
	width: 0.1em;
	height: 0.1em;
	border-right: 60px solid transparent;
	border-top: 60px solid yellow;
	border-left: 60px solid yellow;
	border-bottom: 60px solid yellow;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	-webkit-transform: scale(1.001);
	-moz-transform: scale(1.001);
	-o-transform: scale(1.001);
	-ms-transform: scale(1.001);
	position: relative;
}
/*.pacmanOpen:after {
	content: ".";
	display: inline-block;
	color: black;
	font: bold 80px Times;
	position: absolute;
	top: -70px;
	left: 40px;
}*/
#pacmaplogo {
	display: block;
	margin: 0 auto;		
}
/** special iphone **/

#page {
	margin: auto;
	width:100%;
	height: 100%;	
}

#content {
	margin: auto;
	width:100%;
	height:90%%;
	background-color: rgb(56,46,45);
}
#contentmap {
	margin: auto;
	width:100%;
	height: 85% !important;
	background-color: black;
}

@media screen and (max-device-width: 480px){
	#pacmaplogo {
		width: 100%;		
	}
	#content {
		padding: 18px 0;
		height: 72% !important;
	}	
	#contentmap {
	margin: auto;
	width:100%;
	height: 69% !important;
	background-color: black;
}
	
}
#scorecontainer {
	padding: 3px;
	background-color: black;
	margin: 0;
	text-align : center;
	color: white;
	font-weight: bold;
}

#score {
	color: red;
	font-weight: 900;	
	text-shadow: none;
}

.pacmanClose:before {
	-moz-transform: rotate(-12deg);
	-webkit-transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	-o-transform: rotate(-12deg);
	transform: rotate(-12deg);
	background: yellow;
	border-top-right-radius: 56px;
	border-bottom-right-radius: 0px;
	content:"";
	top: -64px;
	height: 59px;
	left: -17px;
	position: absolute;
	width: 67px;
}
.pacmanClose:after {
	-moz-transform: rotate(12deg);
	-webkit-transform: rotate(11deg);
	-ms-transform: rotate(11deg);
	-o-transform: rotate(11deg);
	transform: rotate(11deg);
	background: yellow;
	border-bottom-right-radius: 56px;
	border-top-right-radius: 0px;
	content:"";
	height: 59px;
	left: -17px;
	position: absolute;
	top: 6px;
	width: 67px;
}



